[Unit]
Description=Card Kingdom Order Telegram Bot
After=network.target otel-collector.service

[Service]
Type=simple
User=mbabaev
WorkingDirectory=/home/mbabaev/CardsOrder
Environment="PATH=/home/mbabaev/CardsOrder/venv/bin"
Environment="PYTHONPATH=/home/mbabaev/CardsOrder"
EnvironmentFile=/home/mbabaev/CardsOrder/bot/.env
ExecStart=/home/mbabaev/CardsOrder/venv/bin/python src/bot/bot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target