[Unit]
Description=Card Kingdom Order Telegram Bot (DEBUG)
After=network.target

[Service]
Type=simple
User=mbabaev
WorkingDirectory=/home/mbabaev/CardsOrderDebug
Environment="PATH=/home/mbabaev/CardsOrderDebug/venv/bin"
Environment="PYTHONPATH=/home/mbabaev/CardsOrderDebug"
EnvironmentFile=/home/mbabaev/CardsOrderDebug/bot/.env
ExecStart=/home/mbabaev/CardsOrderDebug/venv/bin/python src/bot/bot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
